@if(isloggedIn){
<h1>You have logged in</h1>
<button (click)="logout()"  >Log Out</button>
}@else { 
    @if (isSigningUp) {
        <div class="container">
            <app-signup (signupEvent)="onSignUp($event)" ></app-signup>
            @if (signupMessage) {
                <p style="color: red;">{{ signupMessage }}</p>
                }
        </div>
        }@else{
            <div class="container">
             <app-login (loginEvent)="onLogin($event)"></app-login>
             @if (loginMessage) {
                <p style="color: red;">{{ loginMessage }}</p>
                }
                <p>
                    If you don't have a account click here
                    <button (click)="notSignUp()">signup</button>
                </p>
            </div>

} }
